@model IEnumerable<TechStore.Models.Technics>

@{
    ViewData["Title"] = "Index";

    string HasImage(Technics tenchnics)
    {
        if (tenchnics.ImageUrl != "" && tenchnics.ImageUrl != null)
        {
            return "bi bi-check-lg";
        }
        else
        {
            return "bi bi-x-lg";
        }
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-dark text-white"><i class="bi bi-pc-display-horizontal"></i> Add Technics</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.Description)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                აქვს სურათი
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                <i class="@HasImage(item)"></i>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-info-circle-fill"></i></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
